.cart{

    margin: auto;
    margin-top: 100px;
    background-color:white;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 9px;
    height:70%;
    width:70%;
    padding:17px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;


}