@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;60e;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    text-decoration: none;

}
#right{
    display: flex;
    flex-direction: row;
    font-size: 15px;

}
#all{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
    background-color: #183732;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
}
#left{
    display: flex;
    margin-left: 0;
    color: white;

}
.link{
    text-decoration: none;
    color: white;
    margin: 5px;
font-size: 15px;
}
#center{
    display: flex;
  flex-direction: column;
    justify-content: space-between;
    color: white;
}
h6{
    margin-top: 10px;
}
h4{
    margin-bottom: 15px;
    color: white;
}
/* #email{
    display: flex;
    margin: -50px;
} */
#links{
    justify-content: space-between;
}
[ target="_blank"]{
    margin: 5px 10px;
}

