@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;60e;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    text-decoration: none;
}
 header{
    position: fixed;
    width: 100%;
    top:0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    box-shadow: 0 8px 11px rgb(14 55 54/15%);
    padding: 20px 100px;
    transition: 0.5s;
 }
#right{
    display: flex;
    flex-direction: row;

}
head{
    background-color: #183732;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}
